/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


nav .logo {
    margin: 30px 0;
}

nav .logo img {
    width: 70px;
}

nav .menu ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    padding-top: 10px;
}

nav .menu ul li {
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
}

nav .menu ul li a:hover {
    border-top: solid 2px #0065FC;
}



/* Groupe d'information */

.info-group {
    margin-bottom: 35px;
}


/* Titles */

.titles {
    margin-bottom: 35px;
}


 /* Barre de recherche  */

.search-bar {
    margin-bottom: 35px;
}

.search-bar form {
    display: flex;
 }

 .search-bar form input {
    border-right: none;
    border-left: none;
    border-top: 1px solid var(--Grey, #F2F2F2);
    border-bottom: 1px solid var(--Grey, #F2F2F2);
    background: var(--White, #FFF);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 }

.search-bar form input::placeholder {
    color: var(--Black, #000);
}


 .search-bar form input:focus {
    outline: none;
 }
 
 .search-bar form button {
    background-color: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    padding: 15px 16px;
    font-weight: 700;
    cursor: pointer;
 }

 
 /* Barre de filtres */


 .filter-bar {
    display: flex;
    justify-content: flex-start;
    padding: 20px 20px 20px 0;
}

.filter-bar .title-filter {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

.filter-bar .choice {
    display: flex;
    text-decoration: none;
}

.filter-bar .choice p {
    font-size: 17px;
    font-weight: 700;
}

.filter-bar .choice  a {
    text-decoration: none;
    color: black;
    border-radius: 30px;
    border: 2px solid var(--Grey-Tint2, #D9D9D9);
    margin-right: 20px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-bar .choice i {
    padding-right: 10px;
    font-size: 22px;
}

.filter-bar .choice a:hover {
    background: var(--Blue-Light, #DEEBFF);
}




 /* Barre d'informations */

 .infobar {
    display: flex;
 }

 .infobar img {
    margin-right: 10px;
 }

 .infobar p {
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }



 

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements .title {
    color: #000;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
}

.hebergements .hebergement-cards img {
    width: 100%;
    height: 135px;
    border-radius: 20px 20px 0px 0px;
}

.hebergement-cards a {
    width: 30%;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
}

.hebergement-cards {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.hebergement-cards img {
    object-fit: cover;
}

.hebergement-cards article {
    background-color: #FFF;
    border-radius: 20px;
    padding: 5px;
}

.hebergements .card-content {
    padding: 0px 15px 15px 15px;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.populaires-cards .card {
    display: flex;
    margin: 65px 10px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/* Activités à Marseille */

.section-activites {
    padding: 30px;
}

.section-activites .title-act {
    padding-bottom: 30px;
}

.section-activites .title-act h2 {
    font-family: Raleway;
}

.section-activites .stock-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stock-cards a {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    margin: 0 30px 30px 0;
    width: 100%;
}

.stock-cards img {
    object-fit: cover;
    height: 400px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.stock-cards h3 {
    padding-left: 19px;
}




/* Footer */

footer {
    display: flex;
    background-color: #F2F2F2;
}

.a-propos,
.nos-heberg,
.assist {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.a-propos ul,
.nos-heberg ul,
.assist ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.a-propos li,
.assist li,
.nos-heberg li {
    margin-bottom: 15px;
}








/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}