/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h3 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

/****** Header ***********/

header {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

header img {
    width: 65px;
    margin: 30px 0;
}

header .navbar {
    height: 50%;
    display: flex;
    gap: 68px;
}

header .navbar a {
    height: 100%;
    display: flex;
    align-items: end;
}

header .navbar a:hover {
    border-top: solid 2px #0065FC;
    color: #0065FC;
}




/* Groupe d'information */

.info-group {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}


/* Titles */

.titles {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.titles h1,
.titles p {
    margin: 0;
}


 /* Barre de recherche  */


.search-bar form {
    display: flex;
 }

 .search-bar form input {
    border-right: none;
    border-left: none;
    border-top: 1px solid var(--Grey, #F2F2F2);
    border-bottom: 1px solid var(--Grey, #F2F2F2);
    background: var(--White, #FFF);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
 }

.search-bar form input::placeholder {
    color: var(--Black, #000);
}


 .search-bar form input:focus {
    outline: none;
 }
 
 .search-bar form button {
    background-color: #0065FC;
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    padding: 15px 16px;
    font-weight: 700;
    cursor: pointer;
 }

 
 /* Barre de filtres */


 .filter-bar,
 .choice {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.filter-bar .title-filter {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
}

.filter-bar .choice {
    display: flex;
    text-decoration: none;
}

.filter-bar .choice p {
    font-size: 17px;
    font-weight: 700;
}

.filter-bar .choice  a {
    text-decoration: none;
    color: black;
    border-radius: 30px;
    border: 2px solid var(--Grey-Tint2, #D9D9D9);
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.filter-bar .choice i {
    padding-right: 10px;
    font-size: 22px;
}

.filter-bar .choice a:hover {
    background: var(--Blue-Light, #DEEBFF);
}




 /* Barre d'informations */

 .infobar {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
 }

 /* .infobar img {
    margin-right: 10px;
 } */

.infobar p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
 }



 

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/

.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.heberg-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.heberg-cards img {
    height: 115px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    box-sizing: border-box;
    padding: 5px;
}

.heberg-cards .cards-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 15px 15px 15px;
}

.cards-content .cards-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cards {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 247px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.heberg-cards .cards-title,
.heberg-cards .cards-subtitle {
    margin: 0;
}

.display-more {
    font-size: 18px;
}

.heberg-subtitle h3 {
    margin: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/* Activités à Marseille */

.section-activites {
    padding: 30px;
    margin-bottom: 30px;
}

.section-activites .title-act {
    padding-bottom: 30px;
}

.section-activites .stock-cards {
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    gap: 30px;
    width: 100%;
}

.card-act {
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    width: 295px;
    height: 100%;
}

.card-act img {
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
}

.name-act {
    margin: 0;
    padding: 20px 19px;
}



/* Footer */

footer {
    display: flex;
    background-color: #F2F2F2;
}

.a-propos,
.nos-heberg,
.assist {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.a-propos ul,
.nos-heberg ul,
.assist ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.a-propos li,
.assist li,
.nos-heberg li {
    margin-bottom: 15px;
}








/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .heberg-cards .cards {
        width: 261px;
        height: auto;
    }
    

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .section-activites .card-act {
        width: 185px;
    }
     
    .card-act img {
        width: 185px;
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    /* ... */
    * {
        margin: 0px;
        box-sizing: border-box;
    }

    .main-container {
        margin: 0;
        padding: 0;
    }

    header {
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    header img {
        margin: 20px;
        padding: 0;
    }

    header .navbar {
        width: 100%;
        height: auto;
        gap: 0;
        box-sizing: border-box;
        border-bottom: solid #F2f2f2 3px;
    }

    .navbar a {
        display: flex;
        justify-content: space-around;
    } 

    header .navbar a:hover {
        border-top: none;
    }

    .navbar .nav-heberg,
    .navbar .nav-act {
        width: 100%;
        padding-bottom: 15px;
        box-sizing: border-box;
    }

    .nav-heberg:hover,
    .nav-act:hover {
        border-bottom: solid 2px #0065FC;
        color: #0065FC;
    }

    main .info-group {
        padding: 0 20px;
        gap: 35px;
    }

    .titles {
        gap: 8px;
    }

    .titles h1 {
        font-size: 22px;
    }

    .titles p {
        font-size: 16px;
    }

    .search-bar {
        display: flex;
        justify-content: center;
    }

    .filter-bar {
        flex-direction: column;
    }

    .choice {
        
    }
}